@inherits LayoutComponentBase

@using kreddit_app.Data;
@using kreddit_app.Model;
@inject ApiService apiService
@inject NavigationManager Nav

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Upvotes</th>
            <th>Upvote knap</th>
            <th>Downvotes</th>
            <th>DownvoteKnap</th>
        </tr>
        @foreach (var post in posts)
        {
            <tr>
                <td><a href="/post/@post.PostId">@post.Title</a></td>
                <td>@post.Content</td>

                <td class="upvote-box">@post.UpVotes</td>
                <td>
                    <button @onclick="() => Upvote(post.PostId)">Upvote</button>
                </td>

                <td class="downvote-box">-@post.DownVotes</td>
                <td>
                    <button @onclick="() => Downvote(post.PostId)">Downvote</button>
                </td>
            </tr>
        }
    </table>

    <br/>
}

@code {
    private Posts[]? posts;
    private Posts? votePost;

    protected override async Task OnInitializedAsync()
    {
        posts = await apiService.GetPosts();
    }

    private async void Upvote(int id)
    {
        var updatedPost = await apiService.UpvotePost(id);
        posts = await apiService.GetPosts();
    }

    private async void Downvote(int id)
    {
        var downvotedPost = await apiService.DownvotePost(id);
        posts = await apiService.GetPosts();
    }
}
