@using kreddit_app.Data;
@inject ApiService apiService
@inject NavigationManager Nav

<div>
    <br/>
    <h3>Write a comment</h3>
    <input placeholder="User" type="input" id="commentUsername" @bind-value="username"/>
    <input placeholder="Content" type="input" id="content" @bind-value="content"/>
    <button id="createPostButton" type="button" @onclick="CreateNewComment">Post comment</button>
</div>

@code {

    // PostId is passed in from the parent component. See how in PostItem.razor.
    [Parameter] 
    
    public int PostId { get; set; }
    private string? content;
    private string? username;
    private async void CreateNewComment()
    {
        if (content == null)
        {
            return;
        }

        if (username != null) await apiService.CreateComment(content, PostId, username); // UserId: 2
        StateHasChanged();
        Nav.NavigateTo($"/post/{PostId}", true);
    }
}
